        #box {
            width: 100px;
            height: 100px;
            background: green;
        }
        
        .night {
            color: white;
            background-color: black;
        }
        
        .day {
            color: black;
            background-color: white;
        }
        .hello-dos {
			color: white;
			background-color: blue;
		}